In [5]:
import numpy as np
import pandas as pd
R=pd.read_csv("C:\\Users\\ASUS GAMER\\Documents\\ESTI COURS ET TD license 2\\Programmation\\Data science\\TP2\\boissons_evaluees.csv")
R.taster_name.value_counts()

Roger Voss            25514
Michael Schachner     15134
Kerin O’Keefe         10776
Virginie Boone         9537
Paul Gregutt           9532
Matt Kettmann          6332
Joe Czerwinski         5147
Sean P. Sullivan       4966
Anna Lee C. Iijima     4415
Jim Gordon             4177
Anne Krebiehl MW       3685
Lauren Buzzeo          1835
Susan Kostrzewa        1085
Mike DeSimone           514
Jeff Jenssen            491
Alexander Peartree      415
Carrie Dykes            139
Fiona Adams              27
Christina Pickard         6
Name: taster_name, dtype: int64

In [9]:
from pandas import Series
serie_1= Series(R.groupby('taster_twitter_handle').description.count())
print(serie_1)

taster_twitter_handle
@AnneInVino          3685
@JoeCz               5147
@bkfiona               27
@gordone_cellars     4177
@kerinokeefe        10776
@laurbuzz            1835
@mattkettmann        6332
@paulgwine           9532
@suskostrzewa        1085
@vboone              9537
@vossroger          25514
@wawinereport        4966
@wineschach         15134
@winewchristina         6
@worldwineguys       1005
Name: description, dtype: int64

In [88]:
serie_2= Series(R.groupby('price').points.max())
print(serie_2)

price
4.0       86
5.0       87
6.0       88
7.0       91
8.0       91
          ..
1900.0    98
2000.0    97
2013.0    91
2500.0    96
3300.0    88
Name: points, Length: 390, dtype: int64

In [150]:
P1=R.groupby('variety').price.min()
P2=R.groupby('variety').price.max()
#print(P1)
#print()
#print(P2)
#print()
A=[]
for i in range(len(P1)):
    A.append([P1.iloc[i], P2.iloc[i]])
br=np.array(A)
#print(br)
df=pd.DataFrame(br, index=[P1.index], columns=['prix minimum', 'prix maximum'])
df

             prix minimum  prix maximum
variety
Abouriou             15.0          75.0
Agiorgitiko          10.0          66.0
Aglianico             6.0         180.0
Aidani               27.0          27.0
Airen                 8.0          10.0
...                   ...           ...
Zinfandel             5.0         100.0
Zlahtina             13.0          16.0
Zweigelt              9.0          70.0
Çalkarası            19.0          19.0
Žilavka              15.0          15.0

[707 rows x 2 columns]

In [94]:
serie_3= Series(R.groupby('taster_name').points.median())
print(serie_3)

taster_name
Alexander Peartree    86.0
Anna Lee C. Iijima    88.0
Anne Krebiehl MW      90.0
Carrie Dykes          87.0
Christina Pickard     88.0
Fiona Adams           87.0
Jeff Jenssen          89.0
Jim Gordon            89.0
Joe Czerwinski        89.0
Kerin O’Keefe         89.0
Lauren Buzzeo         88.0
Matt Kettmann         90.0
Michael Schachner     87.0
Mike DeSimone         89.0
Paul Gregutt          89.0
Roger Voss            88.0
Sean P. Sullivan      89.0
Susan Kostrzewa       87.0
Virginie Boone        90.0
Name: points, dtype: float64

In [121]:
R.points.values

array([87, 87, 87, ..., 90, 90, 90], dtype=int64)

In [116]:
print("Le type de donnees de la colonne points est: ", type(R.points.values))

Le type de donnees de la colonne points est:  <class 'numpy.ndarray'>

In [105]:
B=len(R[pd.isnull(R.price)])
print("Le nombre d'avis auxquels il manque un prix est: ", B)

Le nombre d'avis auxquels il manque un prix est:  8996