In [4]:
import numpy as np
import pandas as pd
br= np.array([['Doudou', 10,75, 4.5, 'M'],['Amy', 15, 123, 5.0, 'F'],['Mousa', 20, 239, 6.1, 'M']])
df=pd.DataFrame(br, index=[0, 1, 2], columns=['Nom', 'Age', 'Poids', 'Taille', "Genre"])
df

      Nom Age Poids Taille Genre
0  Doudou  10    75    4.5     M
1     Amy  15   123    5.0     F
2   Mousa  20   239    6.1     M

In [5]:
cr=np.array([[12, 22], [20, 19]])
animaux=pd.DataFrame(cr, index=['an 1','an 2'], columns=['vaches', 'chevres'])
animaux

      vaches  chevres
an 1      12       22
an 2      20       19

In [6]:
animaux.to_csv("vache_chevre.csv")

In [7]:
R=pd.read_csv("vache_chevre.csv")
R

  Unnamed: 0  vaches  chevres
0       an 1      12       22
1       an 2      20       19